 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta content="True" name="HandheldFriendly" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Le Ruby Nouveau</title>

  <meta name="author" content="Sylvain Abélard" />
  <link href="css/light.css" rel="stylesheet">
  <meta name="description" content="Sylvain Abélard - projets et blog">
  <link rel="alternate" type="application/rss+xml" title="Sylvain Abélard" href="http://maitre-du-monde.fr/feed.xml" />
  {% include twitter_card.html %}
  {% include og_tags.html %}

  <link href="https://fonts.googleapis.com/css?family=Amarante" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Della+Respira" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Glass+Antiqua" rel="stylesheet">
  <script src="/audiojs/audio.min.js"></script>
  <script>audiojs.events.ready(function() { var as = audiojs.createAll(); });</script> 
 <style>
  </style>
 </head>
