---
layout: default
---
<div class="episode">
  <h1>{{ page.number }}. {{ page.title }}</h1>
  <em>{{ page.tagline }}</em><br />
  <p>À la table{% for host in page.hosts %}, <a href="/habitues/{{ host }}.html">{{ host }}</a>{% endfor %}.</p>

  <script src="/audiojs/audio.min.js"></script>
  <script>
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script>
  <audio src="{{ page.mp3 }}"></audio>
</div>

<hr />

<div id="transcript">

<h2>Actus</h2>

<ul>{% for my_actu in page.actus %}{% assign actu = my_actu[1] %}<li>
  <a href="{{ actu.link }}"><h3>{{ actu.title }}</h3></a>
  {{ actu.comment }}
</li>{% endfor %}</ul>

<hr />

{{ content }}

<hr />

<h2>Friandises</h2>

<ul>{% for my_pick in page.picks %}{% assign pick = my_pick[1] %}<li>
  <a href="{{ pick.link }}"><h3>{{ pick.title }}</h3></a>
  {{ pick.comment }} -- {{ pick.panelist }}
</li>{% endfor %}</ul>

</div>
